Third Party/protobuf/builds/CMakeFiles/
Third Party/protobuf/builds/cmake/
Third Party/protobuf/builds/Debug/
Third Party/protobuf/builds/libprotobuf.dir/
*.obj
Third Party/protobuf/builds/libprotoc.dir/
Third Party/protobuf/builds/protoc.dir/
Third Party/protobuf/builds/x64/
Third Party/protobuf/builds/examples/
TechnicalTest/ProtoTest/.vs/
TechnicalTest/ProtoTest/Debug/vc142.pdb
TechnicalTest/ProtoTest/Debug/
TechnicalTest/ProtoTest/x64/
Third Party/protobuf/builds/libprotobuf-lite.dir/
*.user
TechnicalTest/Feature/Plugins/Protobuf/Source/ThirdParty/ProtobufLibrary/x64/
Game/.vs/
Game/BattleServer/.vs/
Game/BattleServer/x64/
Game/x64/
ThirdParty/spdlogBuild/CMakeFiles/
ThirdParty/spdlogBuild/x64/
ThirdParty/spdlogBuild/spdlog.dir/
ThirdParty/spdlogBuild/example/example.dir/
ThirdParty/spdlogBuild/.vs/
ThirdParty/spdlogBuild/example/Debug/
ThirdParty/spdlogBuild/example/logs/
ThirdParty/spdlogBuild/Debug/
ThirdParty/protobufBuild/cmake/protobuf-module.cmake
ThirdParty/protobufBuild/CMakeFiles/
ThirdParty/protobufBuild/cmake/
ThirdParty/protobufBuild/examples/logs/
ThirdParty/protobufBuild/examples/tmp/
Game/BattleHelper/x64/
