[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/protobuf"]
	path = ThirdParty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "ThirdParty/kcp"]
	path = ThirdParty/kcp
	url = https://github.com/skywind3000/kcp
