Third Party/protobuf/builds/CMakeFiles/
Third Party/protobuf/builds/cmake/
Third Party/protobuf/builds/Debug/
Third Party/protobuf/builds/libprotobuf.dir/
*.obj
Third Party/protobuf/builds/libprotoc.dir/
Third Party/protobuf/builds/protoc.dir/
Third Party/protobuf/builds/x64/
Third Party/protobuf/builds/examples/
TechnicalTest/ProtoTest/.vs/
TechnicalTest/ProtoTest/Debug/vc142.pdb
TechnicalTest/ProtoTest/Debug/
TechnicalTest/ProtoTest/x64/
Third Party/protobuf/builds/libprotobuf-lite.dir/
*.user
TechnicalTest/Feature/Plugins/Protobuf/Source/ThirdParty/ProtobufLibrary/x64/
Game/.vs/
Game/BattleServer/.vs/
Game/BattleServer/x64/
Game/x64/
ThirdParty/spdlogBuild/CMakeFiles/
ThirdParty/spdlogBuild/x64/
ThirdParty/spdlogBuild/spdlog.dir/
ThirdParty/spdlogBuild/example/example.dir/
ThirdParty/spdlogBuild/.vs/
ThirdParty/spdlogBuild/example/Debug/
ThirdParty/spdlogBuild/example/logs/
ThirdParty/spdlogBuild/Debug/
ThirdParty/protobufBuild/cmake/protobuf-module.cmake
ThirdParty/protobufBuild/CMakeFiles/
ThirdParty/protobufBuild/cmake/
ThirdParty/protobufBuild/examples/logs/
ThirdParty/protobufBuild/examples/tmp/
Game/BattleHelper/x64/
Game/BattleLogic/x64/
Tools/TableConvert/table_Convert/table_gen/obj/
Game/Table/x64/
Tools/TableConvert/table_Convert/.vs/
Tools/TableConvert/table_Convert/table_gen/table_gen.application
Tools/TableConvert/table_Convert/table_gen/table_gen.exe
Tools/TableConvert/table_Convert/table_gen/table_gen.exe.config
Tools/TableConvert/table_Convert/table_gen/table_gen.exe.manifest
Tools/TableConvert/table_Convert/table_gen/table_gen.pdb
Tools/TableConvert/table_Convert/table_gen/app.publish/table_gen.exe
Design/Table/table_gen.pdb
Game/lib/Table.pdb
Design/Table/app.publish/table_gen.exe
Game/lib/
Proto/GameProtocol/x64/
ThirdParty/GameNetworkingSocketsbuild/
Socket/Windwos/Debug/
Socket/Windwos/Release/
Socket/Windwos/.vs/
TechnicalTest/NetTest/NetServer/Debug/
TechnicalTest/NetTest/NetServer/x64/
TechnicalTest/NetTest/NetServer/.vs/
TechnicalTest/NetTest/.vs/
TechnicalTest/NetTest/Debug/
TechnicalTest/NetTest/x64/
Proto/protoc/libprotocd.ilk
Proto/protoc/libprotocd.lib
Proto/protoc/protoc.ilk
Proto/protoc/libprotocd.exp
ThirdParty/protobufBuild/.vs/
ThirdParty/protobufBuild/Debug/
ThirdParty/protobufBuild/libprotobuf.dir/
ThirdParty/protobufBuild/libprotoc.dir/Debug/
ThirdParty/protobufBuild/protoc.dir/
ThirdParty/protobufBuild/x64/
Proto/protoc/libprotobufd.exp
Proto/protoc/libprotobufd.ilk
Proto/protoc/libprotobufd.lib
ThirdParty/protobufBuild/gmock.dir/
ThirdParty/protobufBuild/gmock_main.dir/
ThirdParty/protobufBuild/libprotobuf-lite.dir/
ThirdParty/protobufBuild/lite-arena-test.dir/
ThirdParty/protobufBuild/lite-test.dir/
ThirdParty/protobufBuild/test_plugin.dir/
ThirdParty/protobufBuild/tests.dir/
TechnicalTest/Feature/Plugins/Protobuf/Source/ThirdParty/ProtobufLibrary/Debug/
Client/Tao/.vs/
Client/Tao/Binaries/
Client/Tao/Intermediate/
Client/Tao/Saved/
