<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Extensions.AzureBlobStorage" />
    </extensions>

    <targets>
        <target xsi:type="File"
            name="file"
            layout="[${longdate}]|[${aspnet-traceidentifier}]|[${uppercase:${level}}]| ${message} ${exception:format=tostring}"
            fileName="${basedir}/Logs/${shortdate}/RW1Server.log"
            archiveFileName="${basedir}/Logs/${shortdate}/RW1Server.{#}.log"
            archiveEvery="Hour"
            archiveNumbering="Date"
            archiveDateFormat="HH-mm-ss" />
        <target xsi:type="AzureBlobStorage"
            name="Azure"
            layout="[${longdate}]|[${aspnet-traceidentifier}]|[${uppercase:${level}}]| ${message} ${exception:format=tostring}"
            connectionString = "DefaultEndpointsProtocol=https;AccountName=aa;AccountKey=aa;EndpointSuffix=core.windows.net"
            container="crashes"
            blobName="${machinename}/${shortdate}/RW1Server.log"/>
        <target xsi:type="ColoredConsole"
            name="console"
            layout="[${longdate}]|[${aspnet-traceidentifier}]|[${uppercase:${level}}]| ${message} ${exception:format=tostring}"
            useDefaultRowHighlightingRules="true">
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <!--This will lead an app crash in Azure so you can manually disabled for debugging purposes-->
        <!--<logger name="*" minlevel="Debug" writeTo="file" />
        --><!--Minlevel use Error to not spam the storage--><!--
        <logger name="*" minlevel="Error" writeTo="Azure" />-->
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
</nlog>