CSharp/.vs/
CSharp/WebApplication/bin/
CSharp/WebApplication/obj/
.vs/
TW.Api.Models/bin/
TW.Api.Models/obj/
TW.Common/bin/
TW.Common/obj/
TW.Configuration/bin/
TW.Configuration/obj/
TW.Api.Validation/bin/
TW.DAL.Models/bin/
TW.DAL.Models/obj/
TW.DAL.Storage/bin/
TW.DAL.Storage/obj/
TW.Mappings/bin/
TW.Mappings/obj/
TW.Services/bin/
TW.Services/obj/
WebApplication/bin/
WebApplication/obj/
TW.Api.Validation/obj/
TW.Api.Validation.Test/bin/
TW.Api.Validation.Test/obj/
TW.Services.Test/obj/
TW.Services.Test/bin/
TW.Integration.Test/bin/
TW.Integration.Test/obj/
